<!DOCTYPE html>
<html>
  <head>
    <title>G-Score Mgr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(function(){
        $('#score_out_score').change(function(){
          $("#score_total_score").val(parseInt($("#score_out_score").val()) + parseInt($("#score_in_score").val()));
        });
        $('#score_in_score').change(function(){
          $("#score_total_score").val(parseInt($("#score_out_score").val()) + parseInt($("#score_in_score").val()));
        });
      });
      
      $(function(){
        $('#score_out_put').change(function(){
          $("#score_total_put").val(parseInt($("#score_out_put").val()) + parseInt($("#score_in_put").val()));
        });
        $('#score_in_put').change(function(){
          $("#score_total_put").val(parseInt($("#score_out_put").val()) + parseInt($("#score_in_put").val()));
        });
      });
    </script>
  </head>

  <body>
    <div class="header">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
              <% if logged_in? %>
                ようこそ、<%= current_user.name %>さん。
                <%= link_to 'Logout', session_path(current_user),method: :delete, data: {confirm:'Are you sure?'} %>
              <% end %>
                  <div class ='logo'>
                      <%= image_tag("top-logo.png") %>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="headerNav">
      <div class="container">
        <div class="row headerNavBox">
          <% if logged_in? %>
              <a href="#">
                  <div class="col-xs-6 col-sm-3 headerNavBtn">
                    <%= link_to 'My Scores', scores_path %>
                  </div>
              </a>
              <a href="#">
                  <div class="col-xs-6 col-sm-3 headerNavBtn">
                    <%= link_to 'My Page', user_path(current_user) %>
                  </div>
              </a>
              <a href="#">
                  <div class="col-xs-6 col-sm-3 headerNavBtn">
                    <%= link_to 'New Score', new_score_path %>
                  </div>
              </a>
              <a href="#">
                  <div class="col-xs-6 col-sm-3 headerNavBtn">
                    <%= link_to 'Groups', groups_path %>
                  </div>
              </a>
          <% else %>
            <div class="col-xs-6 headerNavBtn">
              <%= link_to 'Sign up', new_user_path %>
            </div>
            <div class="col-xs-6 headerNavBtn">
              <%= link_to 'Login', new_session_path %>
            </div>
          <% end %>  
        </div>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
